<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/SPARTAXGYMV1" version="1.0.0" viewmodes="maximized">
    <tizen:application id="AD3eUwBMXP.SPARTAXGYMV1" package="AD3eUwBMXP" required_version="2.3"/>
 <content src="login.html"/>
    <tizen:content-security-policy>*</tizen:content-security-policy>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon/spartax.png"/>
    <name>SPARTAGYM</name>
    <tizen:privilege name="http://tizen.org/privilege/websetting"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.audio"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/avplay"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/productinfo"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/network.public"/>
    <tizen:profile name="tv"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable"
                   background-support="disable" encryption="disable"
                   install-location="auto" hwkey-event="enable"/>


</widget>

