* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
   width: 1920px;
	height: 1080px;
   background-color: white;
	
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}


.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}