 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 2048px;
	 height: 1536px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Fond1 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 2048px;
	 height: 1536px;
	 z-index:1;
} 

 #leftovers 
{ 
	 left: 21px; 
	 top: 123px; 
	 position: absolute; 
	 width: 2088px;
	 height: 1213px;
	 z-index:2;
} 

 #Calque8 
{ 
	 left: 0px; 
	 top: 1px; 
	 position: absolute; 
	 width: 3051px;
	 height: 2000px;
	 z-index:3;
} 

 #Calque9 
{ 
	 left: -6px; 
	 top: -186px; 
	 position: absolute; 
	 width: 2573px;
	 height: 1718px;
	 z-index:4;
} 

 #Rectangle4 
{ 
	 left: 1px; 
	 top: -1px; 
	 position: absolute; 
	 width: 2048px;
	 height: 1535px;
	 z-index:5;
} 

 #gradient 
{ 
	 left: 417px; 
	 top: 987px; 
	 position: absolute; 
	 width: 1650px;
	 height: 333px;
	 z-index:6;
} 

 #back 
{ 
	 left: 399px; 
	 top: -1px; 
	 position: absolute; 
	 width: 1650px;
	 height: 152px;
	 z-index:7;
} 

 #Ellipse1 
{ 
	 left: 1898px; 
	 top: 41px; 
	 position: absolute; 
	 width: 68px;
	 height: 68px;
	 z-index:8;
} 

 #girl 
{ 
	 left: 1844px; 
	 top: -39px; 
	 position: absolute; 
	 width: 174px;
	 height: 261px;
	 z-index:9;
} 

 #Rectanglearrondi1 
{ 
	 left: 1337px; 
	 top: 44px; 
	 position: absolute; 
	 width: 487px;
	 height: 62px;
	 z-index:10;
} 

 #Search 
{ 
	 left: 1374px; 
	 top: 64px; 
	 position: absolute; 
	 width: 84px;
	 height: 26px;
	 z-index:11;
} 

 #Magnifier 
{ 
	 left: 1769px; 
	 top: 61px; 
	 position: absolute; 
	 width: 28px;
	 height: 29px;
	 z-index:12;
} 

 #Home 
{ 
	 left: 506px; 
	 top: 70px; 
	 position: absolute; 
	 width: 75px;
	 height: 21px;
	 z-index:13;
} 

 #Rectangle3 
{ 
	 left: 506px; 
	 top: 143px; 
	 position: absolute; 
	 width: 128px;
	 height: 8px;
	 z-index:14;
} 

 #Watchlist 
{ 
	 left: 728px; 
	 top: 69px; 
	 position: absolute; 
	 width: 119px;
	 height: 22px;
	 z-index:15;
} 

 #Rectangle5copie5 
{ 
	 left: 399px; 
	 top: 1034px; 
	 position: absolute; 
	 width: 1650px;
	 height: 503px;
	 z-index:16;
} 

 #Rectangle9 
{ 
	 left: 399px; 
	 top: 1116px; 
	 position: absolute; 
	 width: 293px;
	 height: 171px;
	 z-index:17;
} 

 #Rectangle8 
{ 
	 left: 399px; 
	 top: 1116px; 
	 position: absolute; 
	 width: 7px;
	 height: 170px;
	 z-index:18;
} 

 #Rectangle9copie 
{ 
	 left: 399px; 
	 top: 1283px; 
	 position: absolute; 
	 width: 293px;
	 height: 170px;
	 z-index:19;
} 

 #Fitness 
{ 
	 left: 493px; 
	 top: 1189px; 
	 position: absolute; 
	 width: 105px;
	 height: 25px;
	 z-index:20;
} 

 #Body 
{ 
	 left: 438px; 
	 top: 1356px; 
	 position: absolute; 
	 width: 214px;
	 height: 34px;
	 z-index:21;
} 

 #Forme1copie6 
{ 
	 left: 316px; 
	 top: 1250px; 
	 position: absolute; 
	 width: 293px;
	 height: 4px;
	 z-index:22;
} 

 #Rectangle1 
{ 
	 left: -1px; 
	 top: -1px; 
	 position: absolute; 
	 width: 427px;
	 height: 1535px;
	 z-index:23;
} 

 #Ellipse5 
{ 
	 left: 386px; 
	 top: 35px; 
	 position: absolute; 
	 width: 79px;
	 height: 79px;
	 z-index:24;
} 

 #Ellipse5_0 
{ 
	 left: -1px; 
	 top: -1px; 
	 position: absolute; 
	 width: 452px;
	 height: 1535px;
	 z-index:25;
} 

 #ClassesEventsExercic 
{ 
	 left: 70px; 
	 top: 204px; 
	 position: absolute; 
	 width: 138px;
	 height: 544px;
	 z-index:26;
} 

 #Forme1 
{ 
	 left: 1px; 
	 top: 276px; 
	 position: absolute; 
	 width: 400px;
	 height: 3px;
	 z-index:27;
} 

 #Forme1copie5 
{ 
	 left: 1px; 
	 top: 149px; 
	 position: absolute; 
	 width: 400px;
	 height: 4px;
	 z-index:28;
} 

 #Forme1copie 
{ 
	 left: 1px; 
	 top: 407px; 
	 position: absolute; 
	 width: 400px;
	 height: 4px;
	 z-index:29;
} 

 #Forme1copie2 
{ 
	 left: 1px; 
	 top: 542px; 
	 position: absolute; 
	 width: 400px;
	 height: 4px;
	 z-index:30;
} 

 #Forme1copie3 
{ 
	 left: 1px; 
	 top: 672px; 
	 position: absolute; 
	 width: 400px;
	 height: 3px;
	 z-index:31;
} 

 #Forme1copie4 
{ 
	 left: 1px; 
	 top: 800px; 
	 position: absolute; 
	 width: 400px;
	 height: 4px;
	 z-index:32;
} 

 #TVAPP025 
{ 
	 left: 24px; 
	 top: 36px; 
	 position: absolute; 
	 width: 301px;
	 height: 87px;
	 z-index:33;
} 

 #Rectangle7 
{ 
	 left: 380px; 
	 top: 60px; 
	 position: absolute; 
	 width: 39px;
	 height: 7px;
	 z-index:34;
} 

 #Rectangle7copie 
{ 
	 left: 380px; 
	 top: 72px; 
	 position: absolute; 
	 width: 39px;
	 height: 6px;
	 z-index:35;
} 

 #Rectangle7copie2 
{ 
	 left: 380px; 
	 top: 83px; 
	 position: absolute; 
	 width: 39px;
	 height: 6px;
	 z-index:36;
} 

 #Rectangle5copie6 
{ 
	 left: 690px; 
	 top: 1116px; 
	 position: absolute; 
	 width: 466px;
	 height: 338px;
	 z-index:37;
} 

 #leftoversS2E1 
{ 
	 left: 575px; 
	 top: 1111px; 
	 position: absolute; 
	 width: 682px;
	 height: 350px;
	 z-index:38;
} 

 #Calque5 
{ 
	 left: 690px; 
	 top: 1119px; 
	 position: absolute; 
	 width: 466px;
	 height: 332px;
	 z-index:39;
} 

 #Rectangle5 
{ 
	 left: 690px; 
	 top: 1116px; 
	 position: absolute; 
	 width: 466px;
	 height: 338px;
	 z-index:40;
} 

 #DanceOrientaleSamira 
{ 
	 left: 712px; 
	 top: 1139px; 
	 position: absolute; 
	 width: 222px;
	 height: 68px;
	 z-index:41;
} 

 #62min 
{ 
	 left: 1044px; 
	 top: 1409px; 
	 position: absolute; 
	 width: 82px;
	 height: 21px;
	 z-index:42;
} 

 #Ellipse3 
{ 
	 left: 866px; 
	 top: 1235px; 
	 position: absolute; 
	 width: 102px;
	 height: 102px;
	 z-index:43;
} 

 #Play 
{ 
	 left: 905px; 
	 top: 1267px; 
	 position: absolute; 
	 width: 32px;
	 height: 39px;
	 z-index:44;
} 

 #Rectangle5copie4 
{ 
	 left: 1188px; 
	 top: 1116px; 
	 position: absolute; 
	 width: 466px;
	 height: 338px;
	 z-index:45;
} 

 #leftoversS2E2 
{ 
	 left: 1491px; 
	 top: 1033px; 
	 position: absolute; 
	 width: 650px;
	 height: 366px;
	 z-index:46;
} 

 #Calque3 
{ 
	 left: 1189px; 
	 top: 1118px; 
	 position: absolute; 
	 width: 464px;
	 height: 334px;
	 z-index:47;
} 

 #Rectangle5copie 
{ 
	 left: 1188px; 
	 top: 1116px; 
	 position: absolute; 
	 width: 466px;
	 height: 338px;
	 z-index:48;
} 

 #YOGAMourad 
{ 
	 left: 1212px; 
	 top: 1143px; 
	 position: absolute; 
	 width: 102px;
	 height: 61px;
	 z-index:49;
} 

 #60min 
{ 
	 left: 1543px; 
	 top: 1409px; 
	 position: absolute; 
	 width: 82px;
	 height: 21px;
	 z-index:50;
} 

 #Ellipse3_0 
{ 
	 left: 1364px; 
	 top: 1235px; 
	 position: absolute; 
	 width: 103px;
	 height: 103px;
	 z-index:51;
} 

 #Play_0 
{ 
	 left: 1403px; 
	 top: 1268px; 
	 position: absolute; 
	 width: 33px;
	 height: 38px;
	 z-index:52;
} 

 #Rectangle5copie3 
{ 
	 left: 1685px; 
	 top: 1116px; 
	 position: absolute; 
	 width: 466px;
	 height: 338px;
	 z-index:53;
} 

 #leftoversS2E3 
{ 
	 left: 1632px; 
	 top: 1110px; 
	 position: absolute; 
	 width: 634px;
	 height: 357px;
	 z-index:54;
} 

 #Calque7 
{ 
	 left: 1686px; 
	 top: 1119px; 
	 position: absolute; 
	 width: 278px;
	 height: 327px;
	 z-index:55;
} 

 #Rectangle5copie2 
{ 
	 left: 1685px; 
	 top: 1116px; 
	 position: absolute; 
	 width: 466px;
	 height: 338px;
	 z-index:56;
} 

 #ZumbaMounir 
{ 
	 left: 1707px; 
	 top: 1142px; 
	 position: absolute; 
	 width: 96px;
	 height: 62px;
	 z-index:57;
} 

 #56min 
{ 
	 left: 2037px; 
	 top: 1409px; 
	 position: absolute; 
	 width: 82px;
	 height: 21px;
	 z-index:58;
} 

 #Ellipse3_1 
{ 
	 left: 1858px; 
	 top: 1235px; 
	 position: absolute; 
	 width: 103px;
	 height: 103px;
	 z-index:59;
} 

 #Play_1 
{ 
	 left: 1897px; 
	 top: 1268px; 
	 position: absolute; 
	 width: 33px;
	 height: 38px;
	 z-index:60;
} 

 #gradient_0 
{ 
	 left: 1196px; 
	 top: 1034px; 
	 position: absolute; 
	 width: 853px;
	 height: 503px;
	 z-index:61;
} 

 #next 
{ 
	 left: 1915px; 
	 top: 1233px; 
	 position: absolute; 
	 width: 60px;
	 height: 106px;
	 z-index:62;
} 

 #slide 
{ 
	 left: 689px; 
	 top: 1517px; 
	 position: absolute; 
	 width: 593px;
	 height: 12px;
	 z-index:63;
} 

 #55minsAtotalbodytone 
{ 
	 left: 941px; 
	 top: 630px; 
	 position: absolute; 
	 width: 1000px;
	 height: 226px;
	 z-index:64;
} 

 #separate 
{ 
	 left: 941px; 
	 top: 597px; 
	 position: absolute; 
	 width: 970px;
	 height: 4px;
	 z-index:65;
} 

 #CoachSelmiSouheibDur 
{ 
	 left: 941px; 
	 top: 408px; 
	 position: absolute; 
	 width: 250px;
	 height: 161px;
	 z-index:66;
} 

 #Star 
{ 
	 left: 1449px; 
	 top: 329px; 
	 position: absolute; 
	 width: 29px;
	 height: 28px;
	 z-index:67;
} 

 #Starcopie 
{ 
	 left: 1489px; 
	 top: 329px; 
	 position: absolute; 
	 width: 28px;
	 height: 28px;
	 z-index:68;
} 

 #Starcopie2 
{ 
	 left: 1527px; 
	 top: 329px; 
	 position: absolute; 
	 width: 28px;
	 height: 28px;
	 z-index:69;
} 

 #Starcopie3 
{ 
	 left: 1566px; 
	 top: 329px; 
	 position: absolute; 
	 width: 28px;
	 height: 28px;
	 z-index:70;
} 

 #Starcopie4 
{ 
	 left: 1604px; 
	 top: 329px; 
	 position: absolute; 
	 width: 29px;
	 height: 28px;
	 z-index:71;
} 

 #Pilates 
{ 
	 left: 946px; 
	 top: 313px; 
	 position: absolute; 
	 width: 194px;
	 height: 52px;
	 z-index:72;
} 

 #Calque1 
{ 
	 left: 29px; 
	 top: 507px; 
	 position: absolute; 
	 width: 273px;
	 height: 185px;
	 z-index:73;
} 

 #Calque2 
{ 
	 left: 1201px; 
	 top: 721px; 
	 position: absolute; 
	 width: 800px;
	 height: 543px;
	 z-index:74;
} 

 #Arrireplan 
{ 
	 left: 514px; 
	 top: 307px; 
	 position: absolute; 
	 width: 352px;
	 height: 543px;
	 z-index:75;
} 

 #Ellipse2 
{ 
	 left: 524px; 
	 top: 329px; 
	 position: absolute; 
	 width: 52px;
	 height: 52px;
	 z-index:76;
} 

 #Heart 
{ 
	 left: 534px; 
	 top: 342px; 
	 position: absolute; 
	 width: 32px;
	 height: 29px;
	 z-index:77;
} 

 #Rectanglearrondi2 
{ 
	 left: 505px; 
	 top: 893px; 
	 position: absolute; 
	 width: 370px;
	 height: 69px;
	 z-index:78;
} 

 #Booking 
{ 
	 left: 614px; 
	 top: 910px; 
	 position: absolute; 
	 width: 153px;
	 height: 25px;
	 z-index:79;
} 

 #layer_80 
{ 
	 left: 507px; 
	 top: 226px; 
	 position: absolute; 
	 width: 87px;
	 height: 15px;
	 z-index:80;
} 

 #placehold 
{ 
	 left: 656px; 
	 top: 228px; 
	 position: absolute; 
	 width: 372px;
	 height: 202px;
	 z-index:81;
} 

 #header 
{ 
	 left: 656px; 
	 top: 179px; 
	 position: absolute; 
	 width: 372px;
	 height: 52px;
	 z-index:82;
} 

 #linebottom 
{ 
	 left: 656px; 
	 top: 428px; 
	 position: absolute; 
	 width: 372px;
	 height: 7px;
	 z-index:83;
} 

 #LIVE 
{ 
	 left: 677px; 
	 top: 199px; 
	 position: absolute; 
	 width: 35px;
	 height: 13px;
	 z-index:84;
} 

 #SPINNING 
{ 
	 left: 717px; 
	 top: 199px; 
	 position: absolute; 
	 width: 79px;
	 height: 13px;
	 z-index:85;
} 

 #ROOM2 
{ 
	 left: 965px; 
	 top: 204px; 
	 position: absolute; 
	 width: 44px;
	 height: 8px;
	 z-index:86;
} 

 #placehold_0 
{ 
	 left: 1057px; 
	 top: 228px; 
	 position: absolute; 
	 width: 372px;
	 height: 203px;
	 z-index:87;
} 

 #header_0 
{ 
	 left: 1057px; 
	 top: 179px; 
	 position: absolute; 
	 width: 372px;
	 height: 52px;
	 z-index:88;
} 

 #linebottom_0 
{ 
	 left: 1057px; 
	 top: 428px; 
	 position: absolute; 
	 width: 372px;
	 height: 7px;
	 z-index:89;
} 

 #LIVE_0 
{ 
	 left: 1078px; 
	 top: 199px; 
	 position: absolute; 
	 width: 35px;
	 height: 13px;
	 z-index:90;
} 

 #GYM 
{ 
	 left: 1118px; 
	 top: 199px; 
	 position: absolute; 
	 width: 36px;
	 height: 13px;
	 z-index:91;
} 

 #ROOM1 
{ 
	 left: 1366px; 
	 top: 204px; 
	 position: absolute; 
	 width: 43px;
	 height: 8px;
	 z-index:92;
} 

 #placehold_1 
{ 
	 left: 1456px; 
	 top: 228px; 
	 position: absolute; 
	 width: 372px;
	 height: 203px;
	 z-index:93;
} 

 #header_1 
{ 
	 left: 1456px; 
	 top: 179px; 
	 position: absolute; 
	 width: 372px;
	 height: 52px;
	 z-index:94;
} 

 #linebottom_1 
{ 
	 left: 1456px; 
	 top: 428px; 
	 position: absolute; 
	 width: 372px;
	 height: 7px;
	 z-index:95;
} 

 #LIVE_1 
{ 
	 left: 1477px; 
	 top: 199px; 
	 position: absolute; 
	 width: 35px;
	 height: 13px;
	 z-index:96;
} 

 #PILATES 
{ 
	 left: 1517px; 
	 top: 199px; 
	 position: absolute; 
	 width: 61px;
	 height: 13px;
	 z-index:97;
} 

 #ROOM4 
{ 
	 left: 1765px; 
	 top: 204px; 
	 position: absolute; 
	 width: 44px;
	 height: 8px;
	 z-index:98;
} 

 #bgclassescopia 
{ 
	 left: 1410px; 
	 top: 584px; 
	 position: absolute; 
	 width: 372px;
	 height: 252px;
	 z-index:99;
} 

 #placehold_2 
{ 
	 left: 1429px; 
	 top: 595px; 
	 position: absolute; 
	 width: 73px;
	 height: 74px;
	 z-index:100;
} 

 #placehold_3 
{ 
	 left: 1429px; 
	 top: 675px; 
	 position: absolute; 
	 width: 73px;
	 height: 72px;
	 z-index:101;
} 

 #placehold_4 
{ 
	 left: 1429px; 
	 top: 753px; 
	 position: absolute; 
	 width: 73px;
	 height: 72px;
	 z-index:102;
} 

 #Loremipsumdolorsicop 
{ 
	 left: 1519px; 
	 top: 607px; 
	 position: absolute; 
	 width: 242px;
	 height: 32px;
	 z-index:103;
} 

 #Loremipsumdolorsicop_0 
{ 
	 left: 1519px; 
	 top: 685px; 
	 position: absolute; 
	 width: 242px;
	 height: 32px;
	 z-index:104;
} 

 #Loremipsumdolorsicop_1 
{ 
	 left: 1519px; 
	 top: 762px; 
	 position: absolute; 
	 width: 242px;
	 height: 32px;
	 z-index:105;
} 

 #26May2013copia2 
{ 
	 left: 1519px; 
	 top: 647px; 
	 position: absolute; 
	 width: 77px;
	 height: 13px;
	 z-index:106;
} 

 #26May2013copia3 
{ 
	 left: 1519px; 
	 top: 724px; 
	 position: absolute; 
	 width: 77px;
	 height: 13px;
	 z-index:107;
} 

 #26May2013copia4 
{ 
	 left: 1519px; 
	 top: 797px; 
	 position: absolute; 
	 width: 77px;
	 height: 13px;
	 z-index:108;
} 

 #FromtheBlog 
{ 
	 left: 1532px; 
	 top: 539px; 
	 position: absolute; 
	 width: 129px;
	 height: 21px;
	 z-index:109;
} 

 #bgclasses 
{ 
	 left: 1010px; 
	 top: 584px; 
	 position: absolute; 
	 width: 372px;
	 height: 252px;
	 z-index:110;
} 

 #placehold_5 
{ 
	 left: 1039px; 
	 top: 744px; 
	 position: absolute; 
	 width: 122px;
	 height: 73px;
	 z-index:111;
} 

 #Loremipsumdolorsitam 
{ 
	 left: 1181px; 
	 top: 764px; 
	 position: absolute; 
	 width: 156px;
	 height: 27px;
	 z-index:112;
} 

 #SPINNING_0 
{ 
	 left: 1220px; 
	 top: 743px; 
	 position: absolute; 
	 width: 84px;
	 height: 14px;
	 z-index:113;
} 

 #h1200h1300 
{ 
	 left: 1221px; 
	 top: 727px; 
	 position: absolute; 
	 width: 82px;
	 height: 8px;
	 z-index:114;
} 

 #button 
{ 
	 left: 1220px; 
	 top: 794px; 
	 position: absolute; 
	 width: 86px;
	 height: 23px;
	 z-index:115;
} 

 #booking 
{ 
	 left: 1239px; 
	 top: 801px; 
	 position: absolute; 
	 width: 46px;
	 height: 8px;
	 z-index:116;
} 

 #26May2013copia 
{ 
	 left: 1039px; 
	 top: 724px; 
	 position: absolute; 
	 width: 101px;
	 height: 15px;
	 z-index:117;
} 

 #separetor 
{ 
	 left: 1046px; 
	 top: 707px; 
	 position: absolute; 
	 width: 283px;
	 height: 5px;
	 z-index:118;
} 

 #placehold_6 
{ 
	 left: 1039px; 
	 top: 623px; 
	 position: absolute; 
	 width: 122px;
	 height: 73px;
	 z-index:119;
} 

 #Loremipsumdolorsitam_0 
{ 
	 left: 1181px; 
	 top: 644px; 
	 position: absolute; 
	 width: 156px;
	 height: 27px;
	 z-index:120;
} 

 #AEROBICS 
{ 
	 left: 1219px; 
	 top: 623px; 
	 position: absolute; 
	 width: 84px;
	 height: 14px;
	 z-index:121;
} 

 #h1200h1300copia 
{ 
	 left: 1221px; 
	 top: 608px; 
	 position: absolute; 
	 width: 82px;
	 height: 8px;
	 z-index:122;
} 

 #button_0 
{ 
	 left: 1220px; 
	 top: 674px; 
	 position: absolute; 
	 width: 86px;
	 height: 22px;
	 z-index:123;
} 

 #booking_0 
{ 
	 left: 1239px; 
	 top: 681px; 
	 position: absolute; 
	 width: 46px;
	 height: 8px;
	 z-index:124;
} 

 #26May2013copia_0 
{ 
	 left: 1039px; 
	 top: 604px; 
	 position: absolute; 
	 width: 101px;
	 height: 15px;
	 z-index:125;
} 

 #NEXTEVENTS 
{ 
	 left: 1134px; 
	 top: 539px; 
	 position: absolute; 
	 width: 125px;
	 height: 21px;
	 z-index:126;
} 

 #bgclasses_0 
{ 
	 left: 609px; 
	 top: 584px; 
	 position: absolute; 
	 width: 373px;
	 height: 252px;
	 z-index:127;
} 

 #placehold_7 
{ 
	 left: 673px; 
	 top: 618px; 
	 position: absolute; 
	 width: 83px;
	 height: 84px;
	 z-index:128;
} 

 #REBECCASMITH 
{ 
	 left: 658px; 
	 top: 711px; 
	 position: absolute; 
	 width: 108px;
	 height: 10px;
	 z-index:129;
} 

 #SPINNING_1 
{ 
	 left: 685px; 
	 top: 728px; 
	 position: absolute; 
	 width: 53px;
	 height: 9px;
	 z-index:130;
} 

 #Creatingtheperfectbo 
{ 
	 left: 650px; 
	 top: 749px; 
	 position: absolute; 
	 width: 127px;
	 height: 26px;
	 z-index:131;
} 

 #heart 
{ 
	 left: 694px; 
	 top: 788px; 
	 position: absolute; 
	 width: 22px;
	 height: 22px;
	 z-index:132;
} 

 #like 
{ 
	 left: 717px; 
	 top: 789px; 
	 position: absolute; 
	 width: 22px;
	 height: 23px;
	 z-index:133;
} 

 #facebook 
{ 
	 left: 763px; 
	 top: 789px; 
	 position: absolute; 
	 width: 13px;
	 height: 19px;
	 z-index:134;
} 

 #twitter 
{ 
	 left: 740px; 
	 top: 789px; 
	 position: absolute; 
	 width: 21px;
	 height: 19px;
	 z-index:135;
} 

 #separetor_0 
{ 
	 left: 796px; 
	 top: 615px; 
	 position: absolute; 
	 width: 3px;
	 height: 183px;
	 z-index:136;
} 

 #placehold_8 
{ 
	 left: 844px; 
	 top: 618px; 
	 position: absolute; 
	 width: 82px;
	 height: 84px;
	 z-index:137;
} 

 #JohnJones 
{ 
	 left: 838px; 
	 top: 711px; 
	 position: absolute; 
	 width: 86px;
	 height: 13px;
	 z-index:138;
} 

 #KIKBOXING 
{ 
	 left: 851px; 
	 top: 728px; 
	 position: absolute; 
	 width: 62px;
	 height: 9px;
	 z-index:139;
} 

 #Creatingtheperfectbo_0 
{ 
	 left: 820px; 
	 top: 749px; 
	 position: absolute; 
	 width: 127px;
	 height: 26px;
	 z-index:140;
} 

 #heart_0 
{ 
	 left: 819px; 
	 top: 788px; 
	 position: absolute; 
	 width: 22px;
	 height: 22px;
	 z-index:141;
} 

 #like_0 
{ 
	 left: 842px; 
	 top: 789px; 
	 position: absolute; 
	 width: 22px;
	 height: 23px;
	 z-index:142;
} 

 #facebook_0 
{ 
	 left: 933px; 
	 top: 789px; 
	 position: absolute; 
	 width: 13px;
	 height: 19px;
	 z-index:143;
} 

 #twitter_0 
{ 
	 left: 910px; 
	 top: 789px; 
	 position: absolute; 
	 width: 21px;
	 height: 19px;
	 z-index:144;
} 

 #arrowdx 
{ 
	 left: 953px; 
	 top: 690px; 
	 position: absolute; 
	 width: 22px;
	 height: 38px;
	 z-index:145;
} 

 #arrowsx 
{ 
	 left: 620px; 
	 top: 690px; 
	 position: absolute; 
	 width: 22px;
	 height: 38px;
	 z-index:146;
} 

 #ourtrainers 
{ 
	 left: 725px; 
	 top: 539px; 
	 position: absolute; 
	 width: 142px;
	 height: 21px;
	 z-index:147;
} 

 #bgclasses_1 
{ 
	 left: 609px; 
	 top: 203px; 
	 position: absolute; 
	 width: 773px;
	 height: 254px;
	 z-index:148;
} 

 #separetor_1 
{ 
	 left: 992px; 
	 top: 235px; 
	 position: absolute; 
	 width: 3px;
	 height: 183px;
	 z-index:149;
} 

 #clock 
{ 
	 left: 643px; 
	 top: 226px; 
	 position: absolute; 
	 width: 15px;
	 height: 15px;
	 z-index:150;
} 

 #cardiofitness 
{ 
	 left: 665px; 
	 top: 229px; 
	 position: absolute; 
	 width: 108px;
	 height: 10px;
	 z-index:151;
} 

 #calendar 
{ 
	 left: 839px; 
	 top: 223px; 
	 position: absolute; 
	 width: 18px;
	 height: 21px;
	 z-index:152;
} 

 #send 
{ 
	 left: 875px; 
	 top: 226px; 
	 position: absolute; 
	 width: 19px;
	 height: 15px;
	 z-index:153;
} 

 #heart_1 
{ 
	 left: 914px; 
	 top: 225px; 
	 position: absolute; 
	 width: 18px;
	 height: 18px;
	 z-index:154;
} 

 #share 
{ 
	 left: 953px; 
	 top: 225px; 
	 position: absolute; 
	 width: 16px;
	 height: 17px;
	 z-index:155;
} 

 #sepdown 
{ 
	 left: 644px; 
	 top: 255px; 
	 position: absolute; 
	 width: 322px;
	 height: 4px;
	 z-index:156;
} 

 #clock_0 
{ 
	 left: 643px; 
	 top: 286px; 
	 position: absolute; 
	 width: 15px;
	 height: 15px;
	 z-index:157;
} 

 #SPINNING_2 
{ 
	 left: 666px; 
	 top: 289px; 
	 position: absolute; 
	 width: 65px;
	 height: 10px;
	 z-index:158;
} 

 #calendar_0 
{ 
	 left: 839px; 
	 top: 283px; 
	 position: absolute; 
	 width: 18px;
	 height: 21px;
	 z-index:159;
} 

 #send_0 
{ 
	 left: 875px; 
	 top: 286px; 
	 position: absolute; 
	 width: 19px;
	 height: 15px;
	 z-index:160;
} 

 #heart_2 
{ 
	 left: 914px; 
	 top: 285px; 
	 position: absolute; 
	 width: 18px;
	 height: 18px;
	 z-index:161;
} 

 #share_0 
{ 
	 left: 953px; 
	 top: 285px; 
	 position: absolute; 
	 width: 16px;
	 height: 17px;
	 z-index:162;
} 

 #sepdown_0 
{ 
	 left: 644px; 
	 top: 315px; 
	 position: absolute; 
	 width: 322px;
	 height: 4px;
	 z-index:163;
} 

 #clock_1 
{ 
	 left: 643px; 
	 top: 346px; 
	 position: absolute; 
	 width: 15px;
	 height: 15px;
	 z-index:164;
} 

 #PILATES_0 
{ 
	 left: 668px; 
	 top: 349px; 
	 position: absolute; 
	 width: 51px;
	 height: 10px;
	 z-index:165;
} 

 #calendar_1 
{ 
	 left: 839px; 
	 top: 343px; 
	 position: absolute; 
	 width: 18px;
	 height: 21px;
	 z-index:166;
} 

 #send_1 
{ 
	 left: 875px; 
	 top: 346px; 
	 position: absolute; 
	 width: 19px;
	 height: 15px;
	 z-index:167;
} 

 #heart_3 
{ 
	 left: 914px; 
	 top: 345px; 
	 position: absolute; 
	 width: 18px;
	 height: 18px;
	 z-index:168;
} 

 #share_1 
{ 
	 left: 953px; 
	 top: 345px; 
	 position: absolute; 
	 width: 16px;
	 height: 17px;
	 z-index:169;
} 

 #sepdown_1 
{ 
	 left: 644px; 
	 top: 375px; 
	 position: absolute; 
	 width: 322px;
	 height: 4px;
	 z-index:170;
} 

 #clock_2 
{ 
	 left: 643px; 
	 top: 406px; 
	 position: absolute; 
	 width: 15px;
	 height: 15px;
	 z-index:171;
} 

 #boxing 
{ 
	 left: 667px; 
	 top: 409px; 
	 position: absolute; 
	 width: 52px;
	 height: 10px;
	 z-index:172;
} 

 #calendar_2 
{ 
	 left: 839px; 
	 top: 403px; 
	 position: absolute; 
	 width: 18px;
	 height: 21px;
	 z-index:173;
} 

 #send_2 
{ 
	 left: 875px; 
	 top: 406px; 
	 position: absolute; 
	 width: 19px;
	 height: 15px;
	 z-index:174;
} 

 #heart_4 
{ 
	 left: 914px; 
	 top: 405px; 
	 position: absolute; 
	 width: 18px;
	 height: 18px;
	 z-index:175;
} 

 #share_2 
{ 
	 left: 953px; 
	 top: 405px; 
	 position: absolute; 
	 width: 16px;
	 height: 17px;
	 z-index:176;
} 

 #sepdown_2 
{ 
	 left: 644px; 
	 top: 435px; 
	 position: absolute; 
	 width: 322px;
	 height: 4px;
	 z-index:177;
} 

 #clock_3 
{ 
	 left: 1023px; 
	 top: 226px; 
	 position: absolute; 
	 width: 15px;
	 height: 15px;
	 z-index:178;
} 

 #Aerobics 
{ 
	 left: 1046px; 
	 top: 229px; 
	 position: absolute; 
	 width: 66px;
	 height: 10px;
	 z-index:179;
} 

 #calendar_3 
{ 
	 left: 1219px; 
	 top: 223px; 
	 position: absolute; 
	 width: 18px;
	 height: 21px;
	 z-index:180;
} 

 #send_3 
{ 
	 left: 1255px; 
	 top: 226px; 
	 position: absolute; 
	 width: 19px;
	 height: 15px;
	 z-index:181;
} 

 #heart_5 
{ 
	 left: 1294px; 
	 top: 225px; 
	 position: absolute; 
	 width: 18px;
	 height: 18px;
	 z-index:182;
} 

 #share_3 
{ 
	 left: 1333px; 
	 top: 225px; 
	 position: absolute; 
	 width: 16px;
	 height: 17px;
	 z-index:183;
} 

 #sepdown_3 
{ 
	 left: 1024px; 
	 top: 255px; 
	 position: absolute; 
	 width: 322px;
	 height: 4px;
	 z-index:184;
} 

 #clock_4 
{ 
	 left: 1023px; 
	 top: 286px; 
	 position: absolute; 
	 width: 15px;
	 height: 15px;
	 z-index:185;
} 

 #kikboxing 
{ 
	 left: 1047px; 
	 top: 289px; 
	 position: absolute; 
	 width: 76px;
	 height: 10px;
	 z-index:186;
} 

 #calendar_4 
{ 
	 left: 1219px; 
	 top: 283px; 
	 position: absolute; 
	 width: 18px;
	 height: 21px;
	 z-index:187;
} 

 #send_4 
{ 
	 left: 1255px; 
	 top: 286px; 
	 position: absolute; 
	 width: 19px;
	 height: 15px;
	 z-index:188;
} 

 #heart_6 
{ 
	 left: 1294px; 
	 top: 285px; 
	 position: absolute; 
	 width: 18px;
	 height: 18px;
	 z-index:189;
} 

 #share_4 
{ 
	 left: 1333px; 
	 top: 285px; 
	 position: absolute; 
	 width: 16px;
	 height: 17px;
	 z-index:190;
} 

 #sepdown_4 
{ 
	 left: 1024px; 
	 top: 315px; 
	 position: absolute; 
	 width: 322px;
	 height: 4px;
	 z-index:191;
} 

 #clock_5 
{ 
	 left: 1023px; 
	 top: 346px; 
	 position: absolute; 
	 width: 15px;
	 height: 15px;
	 z-index:192;
} 

 #crossfit 
{ 
	 left: 1046px; 
	 top: 349px; 
	 position: absolute; 
	 width: 63px;
	 height: 10px;
	 z-index:193;
} 

 #calendar_5 
{ 
	 left: 1219px; 
	 top: 343px; 
	 position: absolute; 
	 width: 18px;
	 height: 21px;
	 z-index:194;
} 

 #send_5 
{ 
	 left: 1255px; 
	 top: 346px; 
	 position: absolute; 
	 width: 19px;
	 height: 15px;
	 z-index:195;
} 

 #heart_7 
{ 
	 left: 1294px; 
	 top: 345px; 
	 position: absolute; 
	 width: 18px;
	 height: 18px;
	 z-index:196;
} 

 #share_5 
{ 
	 left: 1333px; 
	 top: 345px; 
	 position: absolute; 
	 width: 16px;
	 height: 17px;
	 z-index:197;
} 

 #sepdown_5 
{ 
	 left: 1024px; 
	 top: 375px; 
	 position: absolute; 
	 width: 322px;
	 height: 4px;
	 z-index:198;
} 

 #clock_6 
{ 
	 left: 1023px; 
	 top: 406px; 
	 position: absolute; 
	 width: 15px;
	 height: 15px;
	 z-index:199;
} 

 #yoga 
{ 
	 left: 1047px; 
	 top: 409px; 
	 position: absolute; 
	 width: 38px;
	 height: 10px;
	 z-index:200;
} 

 #calendar_6 
{ 
	 left: 1219px; 
	 top: 403px; 
	 position: absolute; 
	 width: 18px;
	 height: 21px;
	 z-index:201;
} 

 #send_6 
{ 
	 left: 1255px; 
	 top: 406px; 
	 position: absolute; 
	 width: 19px;
	 height: 15px;
	 z-index:202;
} 

 #heart_8 
{ 
	 left: 1294px; 
	 top: 405px; 
	 position: absolute; 
	 width: 18px;
	 height: 18px;
	 z-index:203;
} 

 #share_6 
{ 
	 left: 1333px; 
	 top: 405px; 
	 position: absolute; 
	 width: 16px;
	 height: 17px;
	 z-index:204;
} 

 #sepdown_6 
{ 
	 left: 1024px; 
	 top: 435px; 
	 position: absolute; 
	 width: 322px;
	 height: 4px;
	 z-index:205;
} 

 #allclasses 
{ 
	 left: 935px; 
	 top: 159px; 
	 position: absolute; 
	 width: 121px;
	 height: 21px;
	 z-index:206;
} 

 #bg 
{ 
	 left: 1410px; 
	 top: 203px; 
	 position: absolute; 
	 width: 372px;
	 height: 254px;
	 z-index:207;
} 

 #25discountforallmemb 
{ 
	 left: 1451px; 
	 top: 265px; 
	 position: absolute; 
	 width: 292px;
	 height: 13px;
	 z-index:208;
} 

 #Discountonservicesan 
{ 
	 left: 1488px; 
	 top: 300px; 
	 position: absolute; 
	 width: 217px;
	 height: 65px;
	 z-index:209;
} 

 #membership 
{ 
	 left: 1497px; 
	 top: 159px; 
	 position: absolute; 
	 width: 202px;
	 height: 21px;
	 z-index:210;
} 

 #buttonmore 
{ 
	 left: 1555px; 
	 top: 388px; 
	 position: absolute; 
	 width: 87px;
	 height: 42px;
	 z-index:211;
} 

 #HOMEcopia 
{ 
	 left: 1583px; 
	 top: 406px; 
	 position: absolute; 
	 width: 35px;
	 height: 8px;
	 z-index:212;
} 

 #bg_0 
{ 
	 left: 1218px; 
	 top: 311px; 
	 position: absolute; 
	 width: 106px;
	 height: 30px;
	 z-index:213;
} 

 #timetible 
{ 
	 left: 1246px; 
	 top: 318px; 
	 position: absolute; 
	 width: 48px;
	 height: 9px;
	 z-index:214;
} 

 #bg_1 
{ 
	 left: 1254px; 
	 top: 253px; 
	 position: absolute; 
	 width: 106px;
	 height: 30px;
	 z-index:215;
} 

 #send_7 
{ 
	 left: 1287px; 
	 top: 260px; 
	 position: absolute; 
	 width: 39px;
	 height: 9px;
	 z-index:216;
} 

 #bg_2 
{ 
	 left: 913px; 
	 top: 375px; 
	 position: absolute; 
	 width: 106px;
	 height: 30px;
	 z-index:217;
} 

 #like_1 
{ 
	 left: 951px; 
	 top: 382px; 
	 position: absolute; 
	 width: 30px;
	 height: 9px;
	 z-index:218;
} 

 #bg_3 
{ 
	 left: 951px; 
	 top: 192px; 
	 position: absolute; 
	 width: 106px;
	 height: 30px;
	 z-index:219;
} 

 #share_7 
{ 
	 left: 989px; 
	 top: 199px; 
	 position: absolute; 
	 width: 29px;
	 height: 9px;
	 z-index:220;
} 

 #hand 
{ 
	 left: 915px; 
	 top: 419px; 
	 position: absolute; 
	 width: 19px;
	 height: 24px;
	 z-index:221;
} 

 #handcopy 
{ 
	 left: 1223px; 
	 top: 353px; 
	 position: absolute; 
	 width: 19px;
	 height: 24px;
	 z-index:222;
} 

 #hand_0 
{ 
	 left: 951px; 
	 top: 241px; 
	 position: absolute; 
	 width: 19px;
	 height: 24px;
	 z-index:223;
} 

 #handcopia 
{ 
	 left: 1258px; 
	 top: 288px; 
	 position: absolute; 
	 width: 19px;
	 height: 24px;
	 z-index:224;
} 

 #placehold_9 
{ 
	 left: 695px; 
	 top: 1017px; 
	 position: absolute; 
	 width: 1502px;
	 height: 502px;
	 z-index:225;
} 

 #maps 
{ 
	 left: 557px; 
	 top: 767px; 
	 position: absolute; 
	 width: 1643px;
	 height: 1106px;
	 z-index:226;
} 

 #bgopening 
{ 
	 left: 1658px; 
	 top: 1017px; 
	 position: absolute; 
	 width: 372px;
	 height: 502px;
	 z-index:227;
} 

 #Monday 
{ 
	 left: 1713px; 
	 top: 1097px; 
	 position: absolute; 
	 width: 294px;
	 height: 14px;
	 z-index:228;
} 

 #calendarcopia 
{ 
	 left: 1685px; 
	 top: 1092px; 
	 position: absolute; 
	 width: 18px;
	 height: 21px;
	 z-index:229;
} 

 #sepdowncopia 
{ 
	 left: 1687px; 
	 top: 1120px; 
	 position: absolute; 
	 width: 322px;
	 height: 4px;
	 z-index:230;
} 

 #Tuesday 
{ 
	 left: 1712px; 
	 top: 1141px; 
	 position: absolute; 
	 width: 296px;
	 height: 14px;
	 z-index:231;
} 

 #calendarcopia2 
{ 
	 left: 1685px; 
	 top: 1136px; 
	 position: absolute; 
	 width: 18px;
	 height: 21px;
	 z-index:232;
} 

 #sepdowncopia2 
{ 
	 left: 1687px; 
	 top: 1164px; 
	 position: absolute; 
	 width: 322px;
	 height: 3px;
	 z-index:233;
} 

 #Wednesday 
{ 
	 left: 1713px; 
	 top: 1184px; 
	 position: absolute; 
	 width: 294px;
	 height: 14px;
	 z-index:234;
} 

 #calendarcopia3 
{ 
	 left: 1685px; 
	 top: 1179px; 
	 position: absolute; 
	 width: 18px;
	 height: 21px;
	 z-index:235;
} 

 #sepdowncopia3 
{ 
	 left: 1687px; 
	 top: 1207px; 
	 position: absolute; 
	 width: 322px;
	 height: 4px;
	 z-index:236;
} 

 #Thursday 
{ 
	 left: 1712px; 
	 top: 1226px; 
	 position: absolute; 
	 width: 295px;
	 height: 14px;
	 z-index:237;
} 

 #calendarcopia4 
{ 
	 left: 1685px; 
	 top: 1221px; 
	 position: absolute; 
	 width: 18px;
	 height: 21px;
	 z-index:238;
} 

 #sepdowncopia4 
{ 
	 left: 1687px; 
	 top: 1249px; 
	 position: absolute; 
	 width: 322px;
	 height: 4px;
	 z-index:239;
} 

 #Friday 
{ 
	 left: 1712px; 
	 top: 1269px; 
	 position: absolute; 
	 width: 296px;
	 height: 14px;
	 z-index:240;
} 

 #calendarcopia5 
{ 
	 left: 1685px; 
	 top: 1264px; 
	 position: absolute; 
	 width: 18px;
	 height: 21px;
	 z-index:241;
} 

 #sepdowncopia5 
{ 
	 left: 1687px; 
	 top: 1291px; 
	 position: absolute; 
	 width: 322px;
	 height: 5px;
	 z-index:242;
} 

 #Saturday 
{ 
	 left: 1710px; 
	 top: 1311px; 
	 position: absolute; 
	 width: 300px;
	 height: 14px;
	 z-index:243;
} 

 #calendarcopia6 
{ 
	 left: 1685px; 
	 top: 1306px; 
	 position: absolute; 
	 width: 18px;
	 height: 21px;
	 z-index:244;
} 

 #sepdowncopia6 
{ 
	 left: 1687px; 
	 top: 1334px; 
	 position: absolute; 
	 width: 322px;
	 height: 3px;
	 z-index:245;
} 

 #Sunday 
{ 
	 left: 1709px; 
	 top: 1355px; 
	 position: absolute; 
	 width: 302px;
	 height: 14px;
	 z-index:246;
} 

 #calendarcopia7 
{ 
	 left: 1685px; 
	 top: 1350px; 
	 position: absolute; 
	 width: 18px;
	 height: 21px;
	 z-index:247;
} 

 #sepdowncopia7 
{ 
	 left: 1687px; 
	 top: 1378px; 
	 position: absolute; 
	 width: 322px;
	 height: 4px;
	 z-index:248;
} 

 #Namvestibulumarcusod 
{ 
	 left: 1705px; 
	 top: 1406px; 
	 position: absolute; 
	 width: 279px;
	 height: 35px;
	 z-index:249;
} 

 #Enjoyit 
{ 
	 left: 1790px; 
	 top: 1460px; 
	 position: absolute; 
	 width: 109px;
	 height: 29px;
	 z-index:250;
} 

 #openingtitle 
{ 
	 left: 1749px; 
	 top: 1048px; 
	 position: absolute; 
	 width: 190px;
	 height: 27px;
	 z-index:251;
} 

 #mapmarker 
{ 
	 left: 1232px; 
	 top: 1109px; 
	 position: absolute; 
	 width: 114px;
	 height: 179px;
	 z-index:252;
} 

 #bg_4 
{ 
	 left: 463px; 
	 top: 1019px; 
	 position: absolute; 
	 width: 1173px;
	 height: 1203px;
	 z-index:253;
} 

 #Forma7 
{ 
	 left: 465px; 
	 top: 1118px; 
	 position: absolute; 
	 width: 1172px;
	 height: 5px;
	 z-index:254;
} 

 #Forma7copia 
{ 
	 left: 465px; 
	 top: 1219px; 
	 position: absolute; 
	 width: 1172px;
	 height: 3px;
	 z-index:255;
} 

 #Forma7copia2 
{ 
	 left: 465px; 
	 top: 1319px; 
	 position: absolute; 
	 width: 1172px;
	 height: 3px;
	 z-index:256;
} 

 #Forma7copia3 
{ 
	 left: 465px; 
	 top: 1418px; 
	 position: absolute; 
	 width: 1172px;
	 height: 5px;
	 z-index:257;
} 

 #Forma7copia4 
{ 
	 left: 465px; 
	 top: 1519px; 
	 position: absolute; 
	 width: 1172px;
	 height: 3px;
	 z-index:258;
} 

 #Forma7copia5 
{ 
	 left: 465px; 
	 top: 1619px; 
	 position: absolute; 
	 width: 1172px;
	 height: 4px;
	 z-index:259;
} 

 #Forma7copia6 
{ 
	 left: 465px; 
	 top: 1719px; 
	 position: absolute; 
	 width: 1172px;
	 height: 4px;
	 z-index:260;
} 

 #Forma7copia7 
{ 
	 left: 465px; 
	 top: 1818px; 
	 position: absolute; 
	 width: 1172px;
	 height: 4px;
	 z-index:261;
} 

 #Forma7copia8 
{ 
	 left: 465px; 
	 top: 1918px; 
	 position: absolute; 
	 width: 1172px;
	 height: 5px;
	 z-index:262;
} 

 #Forma7copia9 
{ 
	 left: 465px; 
	 top: 2019px; 
	 position: absolute; 
	 width: 1172px;
	 height: 3px;
	 z-index:263;
} 

 #Forma7copia10 
{ 
	 left: 465px; 
	 top: 2118px; 
	 position: absolute; 
	 width: 1172px;
	 height: 5px;
	 z-index:264;
} 

 #Forma7copia11 
{ 
	 left: 465px; 
	 top: 2219px; 
	 position: absolute; 
	 width: 1172px;
	 height: 4px;
	 z-index:265;
} 

 #column 
{ 
	 left: 463px; 
	 top: 1019px; 
	 position: absolute; 
	 width: 150px;
	 height: 1203px;
	 z-index:266;
} 

 #column_0 
{ 
	 left: 610px; 
	 top: 1019px; 
	 position: absolute; 
	 width: 149px;
	 height: 1203px;
	 z-index:267;
} 

 #column_1 
{ 
	 left: 756px; 
	 top: 1019px; 
	 position: absolute; 
	 width: 149px;
	 height: 1203px;
	 z-index:268;
} 

 #column_2 
{ 
	 left: 901px; 
	 top: 1019px; 
	 position: absolute; 
	 width: 150px;
	 height: 1203px;
	 z-index:269;
} 

 #column_3 
{ 
	 left: 1048px; 
	 top: 1019px; 
	 position: absolute; 
	 width: 149px;
	 height: 1203px;
	 z-index:270;
} 

 #column_4 
{ 
	 left: 1194px; 
	 top: 1019px; 
	 position: absolute; 
	 width: 149px;
	 height: 1203px;
	 z-index:271;
} 

 #column_5 
{ 
	 left: 1340px; 
	 top: 1019px; 
	 position: absolute; 
	 width: 149px;
	 height: 1203px;
	 z-index:272;
} 

 #column_6 
{ 
	 left: 1486px; 
	 top: 1019px; 
	 position: absolute; 
	 width: 149px;
	 height: 1203px;
	 z-index:273;
} 

 #rowdays 
{ 
	 left: 463px; 
	 top: 1019px; 
	 position: absolute; 
	 width: 1173px;
	 height: 102px;
	 z-index:274;
} 

 #tickcopia 
{ 
	 left: 618px; 
	 top: 1152px; 
	 position: absolute; 
	 width: 14px;
	 height: 12px;
	 z-index:275;
} 

 #AerobicsRoomA 
{ 
	 left: 633px; 
	 top: 1166px; 
	 position: absolute; 
	 width: 103px;
	 height: 9px;
	 z-index:276;
} 

 #AerobicsRoomA_0 
{ 
	 left: 922px; 
	 top: 1167px; 
	 position: absolute; 
	 width: 103px;
	 height: 9px;
	 z-index:277;
} 

 #AerobicsRoomA_1 
{ 
	 left: 1211px; 
	 top: 1167px; 
	 position: absolute; 
	 width: 103px;
	 height: 9px;
	 z-index:278;
} 

 #AerobicsRoomAcopia 
{ 
	 left: 633px; 
	 top: 1463px; 
	 position: absolute; 
	 width: 103px;
	 height: 9px;
	 z-index:279;
} 

 #AerobicsRoomAcopia2 
{ 
	 left: 922px; 
	 top: 1464px; 
	 position: absolute; 
	 width: 103px;
	 height: 9px;
	 z-index:280;
} 

 #AerobicsRoomAcopia3 
{ 
	 left: 1211px; 
	 top: 1464px; 
	 position: absolute; 
	 width: 103px;
	 height: 9px;
	 z-index:281;
} 

 #AerobicsRoomAcopia4 
{ 
	 left: 633px; 
	 top: 1963px; 
	 position: absolute; 
	 width: 103px;
	 height: 9px;
	 z-index:282;
} 

 #AerobicsRoomAcopia5 
{ 
	 left: 922px; 
	 top: 1964px; 
	 position: absolute; 
	 width: 103px;
	 height: 9px;
	 z-index:283;
} 

 #AerobicsRoomAcopia6 
{ 
	 left: 1211px; 
	 top: 1964px; 
	 position: absolute; 
	 width: 103px;
	 height: 9px;
	 z-index:284;
} 

 #CrossfitRoomB 
{ 
	 left: 777px; 
	 top: 1264px; 
	 position: absolute; 
	 width: 96px;
	 height: 9px;
	 z-index:285;
} 

 #CrossfitRoomBcopia 
{ 
	 left: 1364px; 
	 top: 1264px; 
	 position: absolute; 
	 width: 96px;
	 height: 9px;
	 z-index:286;
} 

 #CrossfitRoomBcopia2 
{ 
	 left: 777px; 
	 top: 1564px; 
	 position: absolute; 
	 width: 96px;
	 height: 9px;
	 z-index:287;
} 

 #CrossfitRoomBcopia3 
{ 
	 left: 1364px; 
	 top: 1664px; 
	 position: absolute; 
	 width: 96px;
	 height: 9px;
	 z-index:288;
} 

 #CrossfitRoomBcopia4 
{ 
	 left: 777px; 
	 top: 1764px; 
	 position: absolute; 
	 width: 96px;
	 height: 9px;
	 z-index:289;
} 

 #CrossfitRoomBcopia5 
{ 
	 left: 1364px; 
	 top: 2064px; 
	 position: absolute; 
	 width: 96px;
	 height: 9px;
	 z-index:290;
} 

 #CrossfitRoomBcopia6 
{ 
	 left: 777px; 
	 top: 2164px; 
	 position: absolute; 
	 width: 96px;
	 height: 9px;
	 z-index:291;
} 

 #CrossfitRoomBcopia7 
{ 
	 left: 1074px; 
	 top: 1863px; 
	 position: absolute; 
	 width: 96px;
	 height: 9px;
	 z-index:292;
} 

 #CrossfitRoomBcopia8 
{ 
	 left: 1074px; 
	 top: 1465px; 
	 position: absolute; 
	 width: 96px;
	 height: 9px;
	 z-index:293;
} 

 #BoxingRoomC 
{ 
	 left: 639px; 
	 top: 1365px; 
	 position: absolute; 
	 width: 92px;
	 height: 12px;
	 z-index:294;
} 

 #BoxingRoomCcopia 
{ 
	 left: 929px; 
	 top: 1365px; 
	 position: absolute; 
	 width: 92px;
	 height: 12px;
	 z-index:295;
} 

 #BoxingRoomCcopia2 
{ 
	 left: 1514px; 
	 top: 1365px; 
	 position: absolute; 
	 width: 92px;
	 height: 12px;
	 z-index:296;
} 

 #BoxingRoomCcopia3 
{ 
	 left: 639px; 
	 top: 1665px; 
	 position: absolute; 
	 width: 92px;
	 height: 12px;
	 z-index:297;
} 

 #BoxingRoomCcopia4 
{ 
	 left: 929px; 
	 top: 1665px; 
	 position: absolute; 
	 width: 92px;
	 height: 12px;
	 z-index:298;
} 

 #BoxingRoomCcopia5 
{ 
	 left: 1514px; 
	 top: 1665px; 
	 position: absolute; 
	 width: 92px;
	 height: 12px;
	 z-index:299;
} 

 #BoxingRoomCcopia6 
{ 
	 left: 639px; 
	 top: 2065px; 
	 position: absolute; 
	 width: 92px;
	 height: 12px;
	 z-index:300;
} 

 #BoxingRoomCcopia7 
{ 
	 left: 929px; 
	 top: 2065px; 
	 position: absolute; 
	 width: 92px;
	 height: 12px;
	 z-index:301;
} 

 #BoxingRoomCcopia8 
{ 
	 left: 1514px; 
	 top: 2065px; 
	 position: absolute; 
	 width: 92px;
	 height: 12px;
	 z-index:302;
} 

 #KikBoxingRoomB 
{ 
	 left: 629px; 
	 top: 1264px; 
	 position: absolute; 
	 width: 111px;
	 height: 12px;
	 z-index:303;
} 

 #KikBoxingRoomBcopia 
{ 
	 left: 1066px; 
	 top: 1264px; 
	 position: absolute; 
	 width: 111px;
	 height: 12px;
	 z-index:304;
} 

 #KikBoxingRoomBcopia2 
{ 
	 left: 1506px; 
	 top: 1264px; 
	 position: absolute; 
	 width: 111px;
	 height: 12px;
	 z-index:305;
} 

 #KikBoxingRoomBcopia3 
{ 
	 left: 629px; 
	 top: 1867px; 
	 position: absolute; 
	 width: 111px;
	 height: 12px;
	 z-index:306;
} 

 #KikBoxingRoomBcopia4 
{ 
	 left: 1066px; 
	 top: 1765px; 
	 position: absolute; 
	 width: 111px;
	 height: 12px;
	 z-index:307;
} 

 #KikBoxingRoomBcopia5 
{ 
	 left: 1506px; 
	 top: 1867px; 
	 position: absolute; 
	 width: 111px;
	 height: 12px;
	 z-index:308;
} 

 #PilatesRoomD 
{ 
	 left: 640px; 
	 top: 1565px; 
	 position: absolute; 
	 width: 90px;
	 height: 9px;
	 z-index:309;
} 

 #PilatesRoomDcopia 
{ 
	 left: 786px; 
	 top: 1166px; 
	 position: absolute; 
	 width: 90px;
	 height: 9px;
	 z-index:310;
} 

 #PilatesRoomDcopia2 
{ 
	 left: 1076px; 
	 top: 1166px; 
	 position: absolute; 
	 width: 90px;
	 height: 9px;
	 z-index:311;
} 

 #PilatesRoomDcopia4 
{ 
	 left: 640px; 
	 top: 2165px; 
	 position: absolute; 
	 width: 90px;
	 height: 9px;
	 z-index:312;
} 

 #PilatesRoomDcopia5 
{ 
	 left: 781px; 
	 top: 1666px; 
	 position: absolute; 
	 width: 90px;
	 height: 9px;
	 z-index:313;
} 

 #PilatesRoomDcopia6 
{ 
	 left: 1076px; 
	 top: 1666px; 
	 position: absolute; 
	 width: 90px;
	 height: 9px;
	 z-index:314;
} 

 #PilatesRoomDcopia3 
{ 
	 left: 1516px; 
	 top: 1565px; 
	 position: absolute; 
	 width: 90px;
	 height: 9px;
	 z-index:315;
} 

 #SpinningRoomD 
{ 
	 left: 777px; 
	 top: 1366px; 
	 position: absolute; 
	 width: 101px;
	 height: 12px;
	 z-index:316;
} 

 #SpinningRoomDcopia 
{ 
	 left: 1070px; 
	 top: 1366px; 
	 position: absolute; 
	 width: 101px;
	 height: 12px;
	 z-index:317;
} 

 #SpinningRoomDcopia2 
{ 
	 left: 1360px; 
	 top: 1366px; 
	 position: absolute; 
	 width: 101px;
	 height: 12px;
	 z-index:318;
} 

 #SpinningRoomDcopia3 
{ 
	 left: 1070px; 
	 top: 1566px; 
	 position: absolute; 
	 width: 101px;
	 height: 12px;
	 z-index:319;
} 

 #SpinningRoomDcopia4 
{ 
	 left: 1360px; 
	 top: 1566px; 
	 position: absolute; 
	 width: 101px;
	 height: 12px;
	 z-index:320;
} 

 #SpinningRoomDcopia5 
{ 
	 left: 1070px; 
	 top: 1966px; 
	 position: absolute; 
	 width: 101px;
	 height: 12px;
	 z-index:321;
} 

 #SpinningRoomDcopia6 
{ 
	 left: 1360px; 
	 top: 1966px; 
	 position: absolute; 
	 width: 101px;
	 height: 12px;
	 z-index:322;
} 

 #SpinningRoomDcopia7 
{ 
	 left: 1070px; 
	 top: 2166px; 
	 position: absolute; 
	 width: 101px;
	 height: 12px;
	 z-index:323;
} 

 #SpinningRoomDcopia8 
{ 
	 left: 1360px; 
	 top: 2166px; 
	 position: absolute; 
	 width: 101px;
	 height: 12px;
	 z-index:324;
} 

 #SpinningRoomDcopia9 
{ 
	 left: 1220px; 
	 top: 1765px; 
	 position: absolute; 
	 width: 101px;
	 height: 12px;
	 z-index:325;
} 

 #SpinningRoomDcopia10 
{ 
	 left: 1510px; 
	 top: 1765px; 
	 position: absolute; 
	 width: 101px;
	 height: 12px;
	 z-index:326;
} 

 #SpinningRoomDcopia11 
{ 
	 left: 1220px; 
	 top: 1265px; 
	 position: absolute; 
	 width: 101px;
	 height: 12px;
	 z-index:327;
} 

 #SpinningRoomD_0 
{ 
	 left: 1515px; 
	 top: 1466px; 
	 position: absolute; 
	 width: 91px;
	 height: 12px;
	 z-index:328;
} 

 #Monday_0 
{ 
	 left: 655px; 
	 top: 1064px; 
	 position: absolute; 
	 width: 62px;
	 height: 12px;
	 z-index:329;
} 

 #TUESDAY 
{ 
	 left: 797px; 
	 top: 1064px; 
	 position: absolute; 
	 width: 62px;
	 height: 12px;
	 z-index:330;
} 

 #WEDNESDAY 
{ 
	 left: 932px; 
	 top: 1064px; 
	 position: absolute; 
	 width: 86px;
	 height: 12px;
	 z-index:331;
} 

 #THURSDAY 
{ 
	 left: 1084px; 
	 top: 1064px; 
	 position: absolute; 
	 width: 74px;
	 height: 12px;
	 z-index:332;
} 

 #FRIDAY 
{ 
	 left: 1243px; 
	 top: 1065px; 
	 position: absolute; 
	 width: 48px;
	 height: 10px;
	 z-index:333;
} 

 #SATURDAY 
{ 
	 left: 1376px; 
	 top: 1064px; 
	 position: absolute; 
	 width: 72px;
	 height: 12px;
	 z-index:334;
} 

 #SUNDAY 
{ 
	 left: 1531px; 
	 top: 1064px; 
	 position: absolute; 
	 width: 57px;
	 height: 12px;
	 z-index:335;
} 

 #06oo0700 
{ 
	 left: 493px; 
	 top: 1164px; 
	 position: absolute; 
	 width: 90px;
	 height: 12px;
	 z-index:336;
} 

 #07oo0800 
{ 
	 left: 493px; 
	 top: 1264px; 
	 position: absolute; 
	 width: 90px;
	 height: 12px;
	 z-index:337;
} 

 #08oo0900 
{ 
	 left: 493px; 
	 top: 1364px; 
	 position: absolute; 
	 width: 90px;
	 height: 12px;
	 z-index:338;
} 

 #09oo1000 
{ 
	 left: 493px; 
	 top: 1464px; 
	 position: absolute; 
	 width: 90px;
	 height: 12px;
	 z-index:339;
} 

 #10oo1100 
{ 
	 left: 494px; 
	 top: 1564px; 
	 position: absolute; 
	 width: 89px;
	 height: 12px;
	 z-index:340;
} 

 #11oo1200 
{ 
	 left: 494px; 
	 top: 1664px; 
	 position: absolute; 
	 width: 89px;
	 height: 12px;
	 z-index:341;
} 

 #12oo1300 
{ 
	 left: 494px; 
	 top: 1764px; 
	 position: absolute; 
	 width: 89px;
	 height: 12px;
	 z-index:342;
} 

 #13oo1400 
{ 
	 left: 494px; 
	 top: 1864px; 
	 position: absolute; 
	 width: 89px;
	 height: 12px;
	 z-index:343;
} 

 #14oo1500 
{ 
	 left: 494px; 
	 top: 1964px; 
	 position: absolute; 
	 width: 89px;
	 height: 12px;
	 z-index:344;
} 

 #15oo1600 
{ 
	 left: 494px; 
	 top: 2064px; 
	 position: absolute; 
	 width: 89px;
	 height: 12px;
	 z-index:345;
} 

 #16oo1700 
{ 
	 left: 494px; 
	 top: 2164px; 
	 position: absolute; 
	 width: 89px;
	 height: 12px;
	 z-index:346;
} 

 #buttonall 
{ 
	 left: 685px; 
	 top: 936px; 
	 position: absolute; 
	 width: 63px;
	 height: 41px;
	 z-index:347;
} 

 #buttoncrossfit 
{ 
	 left: 864px; 
	 top: 936px; 
	 position: absolute; 
	 width: 113px;
	 height: 41px;
	 z-index:348;
} 

 #Timetable 
{ 
	 left: 991px; 
	 top: 947px; 
	 position: absolute; 
	 width: 142px;
	 height: 22px;
	 z-index:349;
} 
